.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1254px;
    margin: 50px auto;
}


.section1 h2 {
    width: 901px;
    height: 20px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px auto;
}

.section1 h5 {
    width: 908px;
    height: 189px;
    color: rgb(214, 40, 40);
    font-family: Lalezar;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
}

.section1 p {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 60px;
}

.section__img {
    display: flex;
    margin: 20px auto;
}