.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1135px;
    height: 452px;
    border-radius: 20px;
    background: rgb(237, 242, 244);
    margin: 60px auto;
    padding: 20px;
}


.banner__left h2 {
    width: 633px;
    color: rgb(255, 0, 0);
    font-family: Lalezar;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
}

.banner__left p {
    width: 648px;
    height: 113px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin: 25px 0;
}

.banner__left button {
    width: 251px;
    height: 60px;
    border-radius: 20px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Lalezar;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0%;
    text-align: center;
}